<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Digital Bar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Load theme styles -->
        <link rel="stylesheet" href="assets/bower_components/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="assets/bower_components/normalize.css/normalize.css" />
        <link rel="stylesheet" href="assets/css/styles.css" />

    </head>

    <body>
        <div class="container" ng-app="imdApp" ng-controller="myController">
            <h1>Digital Bar</h1>

            <div class="center">
                <label for="name">Tell me, what is your name?</label>
                <input type="text" name="name" ng-model ="myName"/>
                <p ng-if="myName">Hello {{myName}}, order some drinks!</p>
            </div>

            <div ng-if="myName" class="productsContainer">

                <div class="orderAdd">
                    <input type="text" placeholder="Zoek een product" ng-model="productSearch"/>

                    <ul class="productList" ng-init = "init()">
                        <li ng-repeat="product in products | filter:productSearch">
                            
                            <span class="name">{{product.name}}</span>

                            <small class="quantity">{{product.quantity || 0}}</small>

                            <div class="controlls">
      						  	<button ng-click="product.quantity = product.quantity + 1">+</button>
       						 	<button ng-click="product.quantity = product.quantity - 1">-</button>
    						</div>

                        </li>
                    </ul>
                    <button class="action" ng-click = "bestel()">Send your order</button>
                    <p ng-if="orderSent">Your order has been added!</p>
                </div>


                <div class="addProduct">
                    <label>Nieuw Product</label>
                    <div class="input-wrapper">
                        <input type="text" placeholder="Productnaam" ng-model="newProduct.name"/>
                    </div>
                    <button class="action" ng-click = "toevoegen()">Add product</button>
                </div>
            </div>
        </div>

        <!-- SCRIPTS ///////////////////////////////////////////////////// -->

        <!-- ANGULAR -->
        <script src="assets/bower_components/jquery/dist/jquery.js"></script>
        <script src="assets/bower_components/lodash/lodash.js"></script>
        <script src="assets/bower_components/angular/angular.js"></script>

        <!-- LOCAL SCRIPT-->
        <script>
        	var app = angular.module('imdApp', []);



			app.controller('myController', function($scope, $http){
 			  
			$scope.newProduct = {name:""};



			$scope.allDrinks = function allDrinks()
			{

			$http.get('http://imd.district01.be/product').
  				success(function(data, status, headers, config) {
  					
  					$scope.products = data;
    				
 				}).error(function(data, status, headers, config) {
    				
  					alert('error');
  				});

  			};

  			$scope.init = function init()
  			{
  				$scope.allDrinks();
  			};	  

 			$scope.toevoegen = function toevoegen()
 			{
 				$http.post('http://imd.district01.be/product', $scope.newProduct).
	  				success(function(data, status, headers, config) {
	  					
	  					$scope.allDrinks();
	    			
	 				}).
  				error(function(data, status, headers, config) {
    				
   					alert('WAAAROOOMM');
  				});
 			};

 			$scope.order = [{"username":"", "created":"", "products":[{_id:"", name:"", qty:""}]}]

 			$scope.bestel = function bestel()
 			{
 				var data = _.filter($scope.products, function(product){


 					return product.quantity > 0;

 				});

 				if(data.length > 0)
 				{
 					$http.post('http://imd.district01.be/order', {username: $scope.myName, products: data}).
 						success(function(data, status, headers, config){

 						$scope.orderSent = true;


 					}).
 					error(function(data, status, headers, config) {
    				
   					alert('WAAAROOOMM');
  					});
 				};


 			};
			

  		});

		app.directive('amountControl', function(){
            return {
                restrict: 'AEC',
                template: '<div><button ng-click="quantity = quantity +1">+</button><button ng-click="">-</button></div>',
                scope: {
                    quantity: '=amount'
                }
            };
            })


            
        </script>

    </body>

</html>
