body
{
	background-image: url(../Images/view.png);
	background-repeat: no-repeat;
	color: white;
	background-attachment: fixed;
    background-position: center;
}

#container
{
	text-align: center;
	font-size: 50px;
}

#dag
{
	margin-top: 325px;
}


