extends ../layout

block content
  h1 Ask a question
  p Welcome to the Q and A

  form(name="input", action="html_form_action.asp", method="post")
  | Username:
  input(type="text", name="user", id="naam", placeholder="Geef hier uw naam")

  | Question:
  input(type="text", name="textbox", id="bericht", placeholder="Plaats hier uw vraag")

  input(type="submit" value="Submit" class="buttonQuestion")

  ul.questions

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="/javascripts/question.js")
  script(src="/socket.io/socket.io.js")